language: python            # this works for Linux but is an error on macOS or Windows
jobs:
  include:
    - name: "Python 3.8.0 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
        - python -m pip install pyinstaller
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
install: pip3 install --upgrade pip  # all three OSes agree about 'pip3'
# 'python' points to Python 2.7 on macOS but points to Python 3.8 on Linux and Windows
# 'python3' is a 'command not found' error on Windows but 'py' works on Windows only
script: pyinstaller --onefile main.py
after_success:
  - git config --global user.email "L00169827@student.lyit.ie"
  - git config --global user.name "vrednyj"
  - git checkout -b builds
  - git add .
  - git status
  - git commit --message "Builds again     "
  - git status
#  - git remote add builds_origin https://https://github.com/vrednyj/experiment_2.git
#  - git push https://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@github.com//vrednyj/experiment_2.git
#token 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
  - git status
  #- git push builds_origin builds:builds
  - git push https://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@github.com//vrednyj/experiment_2.git builds:builds
  - git status
#  - git push --set-upstream builds_origin builds
#  - username: vrednyj
#  - password: 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
#git push https://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@github.com//vrednyj/experiment_2.git
#before_deploy:
# Set up git user name and tag this commit
#  - git config --local user.name "L00169827@student.lyit.ie"
#  - git config --local user.email "vrednyj"
#  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
#  - git tag $TRAVIS_TAG
#deploy:
#  provider: releases
#  api_key: zY6FzK4VLH2XgVjjsXxB
#  file_glob: true
#  file: build/**/*
#  skip_cleanup: true
#  on:
#    tags: true
